/*
* {
    webkit-margin-before: 0em;
    webkit-margin-after: 0em;
    
}
*/

body {
    background-color: black;
    color: white;
}

.countdown {
    position: relative;
    width: 50%;
    height: 70vh;
    text-align: center;
    margin-top: 25%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 50em;
    font-weight: 100;

}

.countdown-number {
    display: absolute;
    position: absolute;
    left: 0;
    right: 0;
    top: -50%;
    visibility: hidden;
}

#ten,
#nine,
#eight,
#seven,
#six,
#five,
#four,
#three,
#two,
#one,
#text {

    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}

#ten {}

#nine {

    animation-delay: 1s;
}

#eight {

    animation-delay: 2s;
}

#seven {

    animation-delay: 3s;
}

#six {

    animation-delay: 4s;
}

#five {

    animation-delay: 5s;
}

#four {

    animation-delay: 6s;
}

#three {

    animation-delay: 7s;
}

#two {

    animation-delay: 8s;
}

#one {

    animation-delay: 9s;
}

#text {

    animation-delay: 10s;
    font-size: 40px;
    top: 50%;
    position: fixed;


}

@keyframes fadeIn {
    0% {
        visibility: hidden;
    }
    99% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }

}

@keyframes fadeInOut {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }

}